{% extends "base.html" %}

{% block content %}

<h1>Clientes Cadastrados</h1>

<table border="1">

    <tr>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Email</th>
        <th>Como Conheceu</th>
        <th>Ações</th>
    </tr>

    {% for cliente in clientes %}

    <tr>

        <td>{{ cliente.nome }}</td>
        <td>{{ cliente.telefone }}</td>
        <td>{{ cliente.email }}</td>
        <td>{{ cliente.como_conheceu }}</td>

        <td>
            <a href="/atendimento/novo/{{ cliente.id }}">
                Novo Atendimento
            </a>
        </td>

    </tr>

    {% endfor %}

</table>

{% endblock %}