{% extends "base.html" %}

{% block content %}

<h1>Novo Cliente</h1>

<form action="/cliente/salvar" method="POST">

    <label>Nome:</label>
    <input type="text" name="nome" required>

    <br><br>

    <label>Telefone:</label>
    <input type="text" name="telefone" required>

    <br><br>

    <label>E-mail:</label>
    <input type="email" name="email" required>

    <br><br>

    <label>Como conheceu o Espaço S?</label>

    <select name="como_conheceu">

        <option>Instagram</option>
        <option>WhatsApp</option>
        <option>Site</option>
        <option>Evento</option>
        <option>Indicação</option>
        <option>Teresina Shopping</option>
        <option>Outro</option>

    </select>

    <br><br>

    <button type="submit" class="btn">
        Salvar Cliente
    </button>

</form>

{% endblock %}